.new-meeting {
  display: none;

  position: relative;
  min-height: ~"calc(100vh - 140px)";
}

.new-meeting--show {
  display: block;
}

.new-meeting__wrapper {
  position: relative;
  width: 878px;
  margin: 0 auto;
}

.new-meeting__heading {
  margin: 0;
  margin-top: 32px;
  margin-bottom: 20px;

  font-size: 20px;
  line-height: 25px;
}

.new-meeting__close {
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 24px;

  font-size: 0;

  background-color: #e9ecef;

  border-radius: 50%;

  &::before {
    content: "";

    position: absolute;
    top: 11px;
    right: 6px;
    width: 12px;
    height: 2px;
    background-color: #8b8d8f;
    transform: rotate(45deg);
  }

  &::after {
    content: "";

    position: absolute;
    top: 11px;
    right: 6px;
    width: 12px;
    height: 2px;
    background-color: #8b8d8f;
    transform: rotate(-45deg);
  }

  &:hover {
    &::before {
      background-color: #000000;
    }

    &::after {
      background-color: #000000;
    }
  }
}
