.participants-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;

  &--drop {
    box-sizing: border-box;

    flex-direction: column;
    flex-wrap: nowrap;

    position: absolute;
    top: 57px;
    width: 100%;
    max-height: 0;

    overflow-y: scroll;

    box-shadow: 0 1px 10px 0 rgba(0, 44, 92, 0.28);
    border-radius: 4px;

    transition: max-height ease 0.5s;

    z-index: 1;

    &:hover {
      max-height: 136px;
    }
  }

  &--checked {
    .participants-list__item--hidden {
      display: block;
    }
  }
}

.add-meeting-form__participants:focus ~ .participants-list--drop {
  max-height: 136px;

  transition: max-height ease 0.5s;
}

.participants-list__item {
  box-sizing: border-box;

  position: relative;
  height: 24px;
  margin-right: 8px;
  margin-bottom: 8px;
  padding: 0 36px 0 36px;

  background-color: #e9ecef;

  border-radius: 16px;

  &--drop {
    margin: 0;
    height: 34px;
    padding: 5px 16px 5px 48px;

    border-radius: 0;

    background-color: rgba(255, 255, 255, 1);

    cursor: pointer;

    &:hover {
      background-color: rgba(246, 247, 249, 1);
    }
  }

  &--hidden {
    display: none;
  }
}

.participants-list__avatar {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;

  border-radius: 50%;

  &--drop {
    top: 5px;
    left: 16px;
  }
}

.participants-list__name {
  margin: 0;

  font-size: 13px;
  line-height: 17px;
}

.participants-list__close {
  position: absolute;
  top: 3px;
  right: 8px;
  padding: 0;
  width: 16px;
  height: 16px;

  vertical-align: baseline;

  cursor: pointer;

  border: none;

  background-color: transparent;

  &::before {
    content: "";

    position: absolute;
    top: 8px;
    right: 2px;
    width: 12px;
    height: 2px;
    background-color: #afb4b8;
    transform: rotate(45deg);
  }

  &::after {
    content: "";

    position: absolute;
    top: 8px;
    right: 2px;
    width: 12px;
    height: 2px;
    background-color: #afb4b8;
    transform: rotate(-45deg);
  }

  &--hidden {
    display: none;
  }
}

.participants-list__floor {
  font-size: 13px;
  line-height: 15px;
  color: rgba(133, 142, 152, 1);
}

@media (max-width: @adaptive-width) {
  .participants-list {
    &--drop {
      top: 63px;
    }
  }
}
