//Шрифт Helvetica Neue

@font-face {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  src: local("Helvetica Neue"), local("HelveticaNeue"), url("../fonts/HelveticaNeuecyr-Roman.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 500;
  src: local("Helvetica Neue Medium"), local("Helvetica Neue Medium"), local("HelveticaNeue-Medium"), url("../fonts/HelveticaNeuecyr-Medium.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 700;
  src: local("Helvetica Neue bold"), local("Helvetica Neue bold"), local("HelveticaNeue-bold"), url("../fonts/HelveticaNeuecyr-bold.woff2") format("woff2");
  font-display: swap;
}

//Шрифт Open Sans с сервиса Google fonts

/* cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url("https://fonts.gstatic.com/s/opensans/v15/RjgO7rYTmqiVp7vzi-Q5uRJtnKITppOI_IvcXXdNrsc.woff2") format("woff2");
  unicode-range: u+0400-045f, u+0490-0491, u+04b0-04b1, u+2116;
  font-display: swap;
}

/* latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url("https://fonts.gstatic.com/s/opensans/v15/cJZKeOubrn4kERxqtauH3VtXRa8TVwTIcgirnJhmVJw.woff2") format("woff2");
  unicode-range: u+0000-00ff, u+0131, u+0152-0153, u+02bb-02bc, u+02c6, u+02da, u+02dc, u+2000-206f, u+2074, u+20ac, u+2122, u+2212, u+2215;
  font-display: swap;
}

/* cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 500;
  src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url("https://fonts.gstatic.com/s/opensans/v15/MTP_ySuJH_bn48VbG8sNSpX5f-9o1vgP2EXwfjgl7aY.woff2") format("woff2");
  unicode-range: u+0400-045f, u+0490-0491, u+04b0-04b1, u+2116;
  font-display: swap;
}

/* latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 500;
  src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url("https://fonts.gstatic.com/s/opensans/v15/MTP_ySuJH_bn48VbG8sNSugdm0LZdjqr5-oayXSOefg.woff2") format("woff2");
  unicode-range: u+0000-00ff, u+0131, u+0152-0153, u+02bb-02bc, u+02c6, u+02da, u+02dc, u+2000-206f, u+2074, u+20ac, u+2122, u+2212, u+2215;
  font-display: swap;
}

/* cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans bold"), local("OpenSans-bold"), url("https://fonts.gstatic.com/s/opensans/v15/k3k702ZOKiLJc3WVjuplzJX5f-9o1vgP2EXwfjgl7aY.woff2") format("woff2");
  unicode-range: u+0400-045f, u+0490-0491, u+04b0-04b1, u+2116;
  font-display: swap;
}

/* latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans bold"), local("OpenSans-bold"), url("https://fonts.gstatic.com/s/opensans/v15/k3k702ZOKiLJc3WVjuplzOgdm0LZdjqr5-oayXSOefg.woff2") format("woff2");
  unicode-range: u+0000-00ff, u+0131, u+0152-0153, u+02bb-02bc, u+02c6, u+02da, u+02dc, u+2000-206f, u+2074, u+20ac, u+2122, u+2212, u+2215;
  font-display: swap;
}
